<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="institutoEdu" style="color: white;" >Nombre de las institución</label>
                    <input type="text" class="form-control" id="institutoEdu" name="institutoEdu" [(ngModel)]="institutoEdu" required>
                </div>
                <div class="form-group">
                    <label for="tituloEdu" style="color: white;">Título</label>
                    <input type="text" class="form-control" id="tituloEdu" name="tituloEdu" [(ngModel)]="tituloEdu" required>
                </div>
                <div class="form-group">
                    <label for="urlfotoEdu" style="color: white;">Url foto de la institucción</label>
                    <input type="text" class="form-control" id="urlfotoEdu" name="urlfotoEdu" [(ngModel)]="urlfotoEdu" required>
                </div>
                <div class="form-group">
                    <label for="aniodesdeEdu" style="color: white;">Año de comienzo</label>
                    <input type="text" class="form-control" id="aniodesdeEdu" name="aniodesdeEdu" [(ngModel)]="urlfotoEdu" required>
                </div>
                <div class="form-group">
                    <label for="aniohastaEdu" style="color: white;">Año de finalización</label>
                    <input type="text" class="form-control" id="aniohastaEdu" name="aniohastaEdu" [(ngModel)]="urlfotoEdu" required>
                </div>
                <button class="btn btn-primary">
                    Crear
                </button>
            </form>
        </div>
    </div>
</div>